@import "tailwindcss";

@media print {

  body {
    margin: 0;
  }

  body * {
    visibility: hidden;
  }

  .printable,
  .printable * {
    visibility: visible;
  }

  .printable {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: white;
    padding: 10px;
  }

  .no-print {
    display: none !important;
  }

  img {
    max-width: 100%;
    page-break-inside: avoid;
  }

  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}

